@model System.Web.Mvc.ViewDataDictionary
@{
    Layout = "~/Views/Email/EmailMaster.cshtml";
    var data = (ewide.web.Models.CoachingSession)Model["Session"];
    var url = (string)Model["Url"];
    var startedAt = (DateTime)Model["StartedAt"];
    var finishedAt = (DateTime)Model["FinishedAt"];
}

    <p>A video coaching session has been scheduled for you with following details:</p>
    <p><strong>Date:</strong> @startedAt.ToString("dddd dd/MM/yyyy")</p>
    <p><strong>Time:</strong> @startedAt.ToString("h:mmtt") - @finishedAt.ToString("h:mmtt")</p>

    <p><strong>Coach:</strong> @data.CoachingProgram.Coach.FirstName @data.CoachingProgram.Coach.LastName</p>
    <p><strong>Coachee:</strong> @data.CoachingProgram.Coachee.FirstName @data.CoachingProgram.Coachee.LastName</p>

<p>Please log into <a href="https://rightnow.oztrain.com.au"><em>right.<strong>now.</strong></em></a> when the session is due to start and click the 'Begin Session' button under 'Video Coaching Sessions'.</p>
